[submodule "submodules/vim_plugins/vim-hardtime"]
	path = submodules/vim_plugins/vim-hardtime
	url = git://github.com/takac/vim-hardtime
[submodule "submodules/vim_plugins/python-mode"]
	path = submodules/vim_plugins/python-mode
	url = git://github.com/klen/python-mode
[submodule "submodules/vim_plugins/ag.vim"]
	path = submodules/vim_plugins/ag.vim
	url = git://github.com/rking/ag.vim
[submodule "submodules/vim_plugins/python-syntax"]
	path = submodules/vim_plugins/python-syntax
	url = git@github.com:hdima/python-syntax.git
